/* Common styles for the app */
.app, .dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh; /* Full height */
    display: flex;
    flex-direction: column;
    width: 100vw; /* Full width */
    box-sizing: border-box;
}

.dashboard-header, .app-header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.dashboard-title, .app-title {
    margin: 0;
}

.tabs-container {
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    flex-grow: 1;
    width: 100%;
}

.table-section {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

.table-section th, .table-section td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table-section th {
    background-color: #f0f0f0;
    text-align: left;
}

.table-section tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tab-content {
    padding: 5px;
}

.table-header {
    display: none;
}

/* Entries specific styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.type-cell {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    padding: 10px !important;
    text-align: center;
}

.type-cell.expense {
    color: #e74141 !important;
}

.type-cell.income {
    color: #31b731 !important;
}

.table-cell {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Accounts specific styles */
.accounts-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accounts-header button {
    margin-left: auto;
}
